
.projectCard {
    background-color: hsl(0, 0%, 17%);
    
    margin: 0;
    margin-bottom: 1rem;
}
.projectCard:hover {
    
}

@media (max-width: 575.99px) {
    .projectCard {

        margin: 0;
        margin-bottom: 1rem;
    }
}
.projectCard > img {
    height:7rem;
    object-fit: cover;
    filter: brightness(60%);
}